src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <apikit:config name="salesforce-config" api="salesforce.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="salesforce-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforce-config" />
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="salesforce-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-config" />
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="put:\opportunities\(id):application\json:salesforce-config" doc:id="f418cf88-f04e-4bec-8be5-664af3169816">
        <flow-ref doc:name="Flow Reference" doc:id="d7586267-33f8-4f0f-bcde-636d93fb6741" name="update_opportunity_by_id"/>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="delete:\opportunities\(id):salesforce-config" doc:id="d2454298-622d-4850-b36e-3feb30fbc1a8">
        <flow-ref doc:name="Flow Reference" doc:id="24f8a5cf-a180-4bc5-81ac-f71a77af9332" name="delete_opportunity_by_id"/>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="get:\opportunities:salesforce-config">
        <flow-ref doc:name="Flow Reference" doc:id="f0f45497-fe59-43a9-bb1a-9256e7a32abf" name="getting_all_opportunities"/>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="get:\opportunities\(id):salesforce-config">
        <flow-ref doc:name="Flow Reference" doc:id="05afc07b-321c-489d-b754-ab7f6a91c5cf" name="getting_opportunities_by_Id"/>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="post:\opportunities:application\json:salesforce-config" doc:id="38786255-1b6b-4b27-bdaf-f6f17d6929b6">
        <flow-ref doc:name="Flow Reference" doc:id="98180bdd-21c1-4264-9537-72acac637c52" name="create_opportunity"/>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
</mule>
